{% extends "layout.html" %}
{%block content%}
<div class="container">
  <a href="#">
    <div class="btn btn-primary btn-lg btn-block">
      <h1>SELL</h1>
    </div>
  </a><br>
  <a href="#">
    <div class="btn btn-primary btn-lg btn-block">
      <h1>ADD STOCK</h1>
    </div>
  </a><br>
  <a href="#">
    <div class="btn btn-primary btn-lg btn-block">
      <h1>VIEW ALL</h1>
    </div>
  </a><br>
  <a href="#">
    <div class="btn btn-primary btn-lg btn-block">
      <h1>REPORTS</h1>
    </div>
  </a><br>
</div>
{% endblock %}
