{% extends "layout.html" %}
{%block content%}
<div class="container">
  <div class="col-lg-6">
    <legend>Purchase report</legend>
    <table class="table table-striped">
      <thead class="thead thead-inverse">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>price</th>
          <th>quantity</th>
          <th>date-time purchased</th>
        </tr>
      </thead>
      <tbody>

        {% for item in pr %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.date_updated}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="col-lg-6">
    <legend>Sell report</legend>
    <table class="table table-striped">
      <thead class="thead thead-inverse">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>price</th>
          <th>quantity</th>
          <th>date-time sold</th>
        </tr>
      </thead>
      <tbody>
        {% for item in sl %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.date_created}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="col-lg-6">
    <legend>Purge report: <i>items deleted from stock</i>   </legend>
    <table class="table table-striped">
      <thead class="thead thead-inverse">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>price</th>
          <th>quantity</th>
          <th>date-time purged</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pg %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.date_created}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>
{% endblock %}
