{% extends "layout.html" %}
{%block content%}
<div class="container">

  {% if msg %}
  <div class="alert alert-info">
    {{msg}}
  </div>
  {% endif %}
  <table class="table table-striped">
    <thead class="thead thead-inverse">
      <tr>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th>View / edit</th>
      </tr>
    </thead>
    <tbody>
      {% for items in obj %}
      <tr>
        <td>{{items.name}}</td>
        <td>{{items.price}}</td>
        <td>{{items.quantity}}</td>
        <td><a href="{% url 'manager:item' items.id %}"> view item</a></td>
      </tr>

      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}
